# setup environment
dist: xenial
sudo: true
language: go

notifications:
  email: false

git:
  depth: 5

# setup tests
env:
  global:
    - APM_TEST_PACKAGES="language-json"
    - ATOM_LINT_WITH_BUNDLED_NODE="true"

matrix:
  include:
  - os: linux
  - os: linux
    env: ATOM_CHANNEL=beta

# execute tests
install:
  - sudo wget https://releases.hashicorp.com/packer/1.2.5/packer_1.2.5_linux_amd64.zip
  - mkdir -p /home/travis/bin
  - sudo unzip packer_1.2.5_linux_amd64.zip -d /home/travis/bin/
before_script: packer version
script: 'curl -s https://raw.githubusercontent.com/atom/ci/master/build-package.sh | sh'
