# setup environment
sudo: false
language: go

notifications:
  email: false

git:
  depth: 5

# setup tests
env:
  global:
    - APM_TEST_PACKAGES="language-json"
    - ATOM_LINT_WITH_BUNDLED_NODE="true"

matrix:
  include:
  - os: linux
  - os: linux
    env: ATOM_CHANNEL=beta

# execute tests
install:
  - wget https://releases.hashicorp.com/packer/1.0.0/packer_1.0.0_linux_amd64.zip
  - unzip packer_1.0.0_linux_amd64.zip -d /usr/bin/
before_script: packer --version
script: 'curl -s https://raw.githubusercontent.com/atom/ci/master/build-package.sh | sh'
